extends layout

block body
  div.container(ng-controller="chatCtrl")
    toaster-container(toaster-options="{'position-class': 'toast-top-right'}")
    .login(ng-show="loginScreen")
      .login-form
        h3 Podaj swój nick
        form(ng-submit="logIn()")
          .row
            .col.span_2
              label(for="loginField") Login:
            .col.span_10
              input#loginField(placeholder="Jak chcesz się nazywać?",ng-model="name",name="loginName")
          .row
            .col.span_2
              input#loginRegistered(type="checkbox",ng-model="loginRegistered",ng-change="loginRegisteredChange()")
            .col.span_10
              label.left(for="loginRegistered") Jestem zarejestrowany
          .row(ng-show="loginRegistered")
            .col.span_2
              label(for="loginPasswordField") Hasło:
            .col.span_10
              input#loginPasswordField(type="password",placeholder="Wprowadź hasło",ng-model="loginPassword")
          .row
            .col.span_6
              input(type="submit", value="Wejdź")
            .col.span_6
              input(type="button", value="Zarejestruj się")
    .row
      form(ng-submit="sendMessage()")
        .col.span_8.message
          span(user="user")
          | &nbsp;
          input.message-input(type="text",ng-model="message",placeholder="Wpisz wiadomość")
        .col.span_1
          input(class="message-send",type="submit", value="Send")
        .col.span_3
    .row
      .col.span_9
        .overflowable.messages
          div(ng-repeat="msg in messages | reverse",class="message-animate",message="msg")
      .col.span_3
        .overflowable.users
          div.user(ng-repeat="u in users")
            p
              a {{u.name}}
  //script(src="http://code.jquery.com/jquery-2.0.3.min.js")
  script(src="/js/socket.io.js")
  script(src="/js/angular.js")
  script(src="/js/angular-animate.js")
  script(src="/js/socket.js")
  script(src="/js/toaster.js")
  script(src="/js/chat.js")
